<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

<h1>Pothole Trace and Repair System</h1>

<h3>All Events</h3>
{% if latest_hole_list %}
    <ul>
    {% for hole in latest_hole_list %}
        <li><a href="{% url 'phtrs:detail' hole.id %}">Hole {{ hole.id }} at {{ hole.district }} {{ hole.street }}</a></li>
    {% endfor %}
    </ul>
    <a href="../admin/PHTRS/hole/add/">Submit New Hole</a><br>
    <a href="../admin/PHTRS/state/">Hole State Info. Update (Staff Only)</a>
{% else %}
    <p>No holes to be repair.</p>
{% endif %}

</body>
</html>